{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
  <script>
    document.addEventListener('click', (e) => {
      if (e.target.tagName === 'A' && e.target.hasAttribute('data-prevent-reload')) {
        const href = e.target.getAttribute('href');
        if (href === window.location.hash || href === '#') {
          e.preventDefault();
        }
      }
    });
  </script>
</head>

<body>
  <nav>
    <div class="sidebar-top">
      <span class="shrink-btn">
        <i class='bx bx-chevron-left'></i>
      </span>
    </div>

    <div class="sidebar-links">
      <ul>
        {% csrf_token %}
        <div class="active-tab"></div>
        <li class="tooltip-element" data-tooltip="0">
          <a href="/api/upload" id='link' data-prevent-reload {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'documents' %} class="active" {% endif %} data-active="0">
            <div class="icon">
              <i class='bx bx-folder'></i>
              <i class='bx bxs-folder'></i>
            </div>
            <span class="link hide">Documents</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="1">
          <a href="#" id='link' data-active="1">
            <div class="icon">
              <i class='bx bx-bar-chart-square'></i>
              <i class='bx bxs-bar-chart-square'></i>
            </div>
            <span class="link hide">Analytics</span>
          </a>
        </li>
        <li class="tooltip-element" data-tooltip="2">
            <a href="{% url 'dictionary' %}" id='link' {% if request.resolver_match.url_name == 'dictionary' %} class="active" {% endif %} data-active="2">
              <div class="icon">
                <i class='bx bx-notepad'></i>
                <i class='bx bxs-notepad'></i>
              </div>
              <span class="link hide">Dictionary</span>
            </a>
          </li>
          <li class="tooltip-element" data-tooltip="3">
            <a href="#" id='link' data-active="3">
              <div class="icon">
                <i class='bx bx-cog'></i>
                <i class='bx bxs-cog'></i>
              </div>
              <span class="link hide">Settings</span>
            </a>
          </li>
          <li class="tooltip-element" data-tooltip="4">
            <a href="#" id='link' data-active="4">
              <div class="icon">
                <i class='bx bx-help-circle'></i>
                <i class='bx bxs-help-circle'></i>
              </div>
              <span class="link hide">Help</span>
            </a>
          </li>

      </ul>

      <ul>
        <div class="tooltip">
          <span class="show"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </ul>
    </div>

    <div class="sidebar-footer">
      <a href="#" class="account tooltip-element" data-tooltip="0">
        <i class='bx bx-user'></i>
      </a>
      <div class="admin-user tooltip-element" data-tooltip="1">
        <a href="{% url 'account_logout' %}" class="log-out">
          <i class='bx bx-log-out'></i>
        </a>
        <div class="admin-profile hide">
          <div class="admin-info">
            <h3>Log Out</h3>
          </div> 
        </div> 
      </div>
      <div class="tooltip">
        <span class="show"></span>
        <span></span>
      </div>
    </div>
  </nav>
  <script src="{% static 'js/navbar.js' %}"></script>

{% block content %}

{% endblock %}


</body>

</html>